<div class="app" #root="$implicit" dir="ltr" [ngClass]="{'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar, 'customizer-in': customizerIn}">
    <md-sidenav-container class="gene-container">
        <md-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpen" class="sidebar-area">
            <div class="sidebar-panel gene-sidenav" fxLayout="column">
                <md-toolbar class="sidebar-logo">
                    <div class="gene-logo"><div class="logo-sign inline-block"><img src="assets/img/logo-sign.png" width="30" height="30"></div><div class="logo-text inline-block"><img src="assets/img/logo-text.png" width="90" height="27"></div></div>
                </md-toolbar>
                <div class="sidebar-container">
                    <div class="sidenav-scrollbar-container" fxLayout="column">
                        <perfect-scrollbar>
                            <md-nav-list fxLayout="column" menuToggleDirective class="navigation">
                                <md-list-item menuToggleLink *ngFor="let menuitem of menuItems.getAll()">
                                    <a menuToggle class="gene-relative" md-ripple [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                                        <md-icon>{{ menuitem.icon }}</md-icon>
                                        <span>{{ menuitem.name | translate }}</span>
                                    </a>
                                    <a menuToggle class="gene-relative" md-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
                                        <md-icon>{{ menuitem.icon }}</md-icon>
                                        <span>{{ menuitem.name | translate }}</span>
                                        <span fxFlex></span>
                                        <md-icon class="menu-caret">chevron_right</md-icon>
                                    </a>
                                    <md-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                                        <md-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                            <a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link" class="gene-relative" md-ripple>{{ childitem.name | translate }}</a>
                                        </md-list-item>
                                    </md-nav-list>
                                </md-list-item>
                            </md-nav-list>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </md-sidenav>
        <md-toolbar class="gene-header-toolbar">
            <div class="gene-ham-icon" tourAnchor="start.tour" >
                <button class="" md-mini-fab color="primary" md-card-icon (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
            </div>
            <a class="navbar-brand" href="#">{{header}}</a>
            <breadcrumb class="gene-breadcrumbs"></breadcrumb>
            <span fxFlex></span>
            
        <div class="secondary-menu">
            <button fxHide="true" fxHide.gt-sm="false" md-button class="fullscreen-toggle" (click)="toggleFullscreen()" tourAnchor="tour-full-screen">
            <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
            <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
        </button>
<md-menu #menu="mdMenu"></md-menu>
            <button class="user-button" md-button [mdMenuTriggerFor]="menu">
        <div fxLayout="row" fxLayoutAlign="center center">
          <md-icon>account_circle</md-icon>
        </div>
      </button>
            
            
        </div>
        </md-toolbar>

        <div class="gene-base-container" #scrollContainer>
           <div class="inner-container">
            <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
            </div>
        </div>
    </md-sidenav-container>

    
</div>





   