 <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <md-card>
                      <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <h4>Team Details</h4>
                    </div> <span fxFlex></span>
               
                </div>
                <md-divider></md-divider>
            </div>
        <div class="gene-card-content">
                   <div class="table-responsive">
                    <table class="table table-hover table-middle th-fw-light mb-0">
                        <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Category</th>
                                <th>Participation Type</th>
                                <th>Language</th>
                                <th>Total Members</th>
                                <th>Operations</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td>Team A</td>
                                <td>	5S </td>
                                
                                <td>Residential</td>
                                <td>English</td>
                                <td>3</td>
                                <td><a href="javascript:;"><i class="fa fa-edit mr-1"></i></a><a href="javascript:;"><i class="fa fa-times text-danger"></i></a></td>
                            </tr>
                            
                        </tbody>
                    </table>
            </div>
            </div>
     </md-card>
</div>