<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" start" class="gene-form-wizard">
      <md-card fxFlex="100%">
            <div class="gene-card-title">
                  <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="column">
                              <h4>Organization Name : IEC</h4>
                        </div> <span fxFlex></span> </div>
                  <md-divider></md-divider>
            </div>
            <div class="gene-card-content">
                  <md-tab-group [selectedIndex]="selectedIndex">
                        <md-tab label="1. Organization Details">
                              <form #form="ngForm">
                                    <div fxLayout="column">
                                          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                                                <md-input-container fxFlex="100">
                                                      <input mdInput name="address"  placeholder="Address" required>
                                                      
                                                </md-input-container>
                                          </div>
                                          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="city" required ngModel placeholder="City"> </md-input-container>
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="state" required ngModel placeholder="State"></md-input-container>
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="country" required ngModel placeholder="Country"></md-input-container>
                                                
                                          </div>

                                          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="pincode" required ngModel placeholder="PinCode"> </md-input-container>
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="website" required ngModel placeholder="Website Address"></md-input-container>
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="email" required ngModel placeholder="email"></md-input-container>
                                                
                                          </div>

                                          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                                                <md-input-container fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                                      <input mdInput name="phonenumber" placeholder="Phone Number" required>                                                      </md-input-container>
                                                <md-input-container fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                                      <input mdInput name="contactnumber" placeholder="Contact Number" required ngModel>                                                      </md-input-container>
                                          </div>
                                          <div fxLayout="row" fxLayoutAlign="start">
                                                <button md-button type="button" disabled>Previous </button>
                                                <button md-button md-raised-button [disabled]="!form.valid" (click)="nextStep()" type="button">Next </button>
                                          </div>
                                    </div>
                              </form>
                        </md-tab>
                        <md-tab label="2. Membership Details" [disabled]="!form.valid">
                              <form #form2="ngForm">
                                    <div fxLayout="column">
                                          
                                          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                                                 <md-input-container fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                                      <input mdInput name="membershipteamname" placeholder="Membership Type Name" required>                                                      </md-input-container>
                                                <md-input-container fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                                      <input mdInput name="membershipteamnumber" placeholder="Membership No" required ngModel>                                                      </md-input-container>
                                                <md-input-container fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100">
                                                      <input mdInput name="validupto" type="date" required ngModel placeholder="Valid Upto"> </md-input-container>
                                          </div>
                                          <div fxLayout="row" fxLayoutAlign="start">
                                                <button md-button type="button" (click)="previousStep()">Previous</button>
                                                <button md-button md-raised-button [disabled]="!form2.valid" (click)="nextStep()" type="button">Next</button>
                                          </div>
                                    </div>
                              </form>
                        </md-tab>
                        <md-tab label="3. Point of Contact" [disabled]="!form2.valid">
                              <form #form3="ngForm">
                                    <div fxLayout="column">
                                          <md-input-container fxFlex>
                                                <input mdInput name="contactperson" placeholder="Contact Person" required>                                                </md-input-container>
                                          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                                                <md-input-container fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                                      <input mdInput name="designation" required ngModel placeholder="Designation">                                                      </md-input-container>
                                                <md-input-container fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                                                      <input mdInput name="contactnumber" required ngModel placeholder="Contact Number">                                                      </md-input-container>
                                          </div>
                                          <div fxLayout="row" fxLayoutAlign="start">
                                                <button md-button type="button" (click)="previousStep()">Previous</button>
                                                <button md-button md-raised-button [disabled]="!form3.valid" (click)="nextStep()" type="button">Next</button>
                                          </div>
                                    </div>
                              </form>
                        </md-tab>
                        <md-tab label="4. Submission" [disabled]="!form3.valid">
                              <div fxLayout="column">
                                    <div class="custom-pad text-center">
                                          <p>You have filled in all your contact information.  Please submit this form to add your team!!</p>
                                          <button class="mrgn-all-xs" md-raised-button color="accent">Submit</button>
                                    </div>
                              </div>
                        </md-tab>
                  </md-tab-group>
            </div>
      </md-card>
</div>